<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no evento: {{ event }}</p>
<p>
  <strong>Nome: </strong> {{ name }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <br />
</p>